[Unit]
Description=Monitors Network for DHCP Responsivity

[Install]
WantedBy=default.target # Use whatever the system's default target is (usually a symlink to multi-user)

[Service]
ExecStart=/opt/dhcpmon/venv/bin/python /opt/dhcpmon/dhcpmon/query_dhcp.py
Type=notify # Tell systemd python will keep it up to date with notifications
WatchdogSec=300 # Issue watchdog notications every 5 min, more counts as a failure
Restart=on-failure # If fails, restart the script
